body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background-color: hsl(0, 0%, 95%);
}
.main__wrapper, header, footer{
    width: 100%;
}
body, div, nav, ul, header, footer{
    box-sizing: border-box;
}
.header__nav ul{
    display: flex;
    justify-content: center;
}
.header__nav li{
    list-style: none;
    margin: 5px;
}
ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    background-color: hsl(0, 75%, 85%);
}
.header__nav a{
    color: white;
    display: inline-block;
    padding: 6px 9px;
}
/**main*/
main, aside{
    padding: 10px 20px;
    flex-basis: 0;
    background-color: #fff;
}
.main__wrapper{
    display: flex;
    flex-grow: 1;
    max-width: 1024px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.main__wrapper aside{
    flex-grow: 1;
}
.secundary__nav{
    min-width: 12rem;
    text-align: center;
}
h1, h2{
    text-wrap: balance;
}
p{
    text-wrap: pretty;
}
main{
    min-width: 300px;
    flex-grow:2 ;
}
.secundary__nav a{
    color: hsl(0, 75%, 85%);
    display: inline-block;
    padding: 6px 10px;
}
footer{
    margin-top: auto;
    background-color: hsl(0, 0%, 35%);
    padding: 40px;
    text-align: center;
    color: white;
}
aside:last-child{
    min-width: 10rem;
}
@media screen and (max-width:600px){
    aside:last-child{
        display: none;
    }
}
@media screen and (max-width:480px) {
    .main__wrapper{
        flex-direction: column;
    }
}